@use '@angular/material' as mat;

@include mat.button-density(-1);

@include mat.button-overrides((
  // filled-container-height: 32px,
  filled-container-shape: 4px
));

@include mat.form-field-overrides((
  container-height: 32px,
  container-vertical-padding: 4px
));

@include mat.toolbar-overrides((
    standard-height: 50px
));



